In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spotify_millsongdata.csv")

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
df.shape

(57650, 4)

In [6]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [7]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [8]:
df.head(10)

,artist,song,text
0,Great Big Sea,Stumbling In,I don't mind confiding \r\nThat I make stupid...
1,Starship,Sara,"Go now, don't look back, we've drawn the line ..."
2,Hillsong United,Did You Hear The Mountains Tremble?,Did you feel the mountains tremble? \r\nDid y...
3,John Prine,Sabu Visits The Twin Cities Alone,The movie wasn't really doing so hot \r\nSaid...
4,Great Big Sea,Mari-Mac,There's a neat little lass and her name is Mar...
5,Utopia,Love Alone,When she calls my name \r\nNobody says it qui...
6,Whitney Houston,Call You Tonight,The stars must be aligned tonight \r\nI belie...
7,Nirvana,Mexican Seafood,"Oh, it's your face, it isn't even \r\nTrue th..."
8,Depeche Mode,A Question Of Lust,Fragile \r\nLike a baby in your arms \r\nBe ...
9,Pogues,Just One Of Those Things,"As Dorothy Parker once said to her boy friend,..."

In [9]:
df['text'][0]

"I don't mind confiding  \r\nThat I make stupid mistakes  \r\nBeen misled and misguided  \r\nAnd I'm easily led astray  \r\n  \r\nBut you can dance with disaster  \r\nNever missing a step  \r\nSpinning faster and faster  \r\nLong after I've already slipped  \r\n  \r\nBut in the middle of it all  \r\nYou always break my fall  \r\nIn the middle of it all  \r\n  \r\n[Chorus]  \r\nOver and over, again and again  \r\nYou float through the door and I'm stumbling in  \r\nI'm twisted and tangled and soaked to the skin  \r\nYou float through the door and I'm stumbling in again  \r\n  \r\nPulled in every direction  \r\nI've a million regrets  \r\nYou're the perfect protection  \r\nWhen I'm diving in over my head  \r\n  \r\nBut in the middle of it all  \r\nYou always break my fall  \r\nIn the middle of it all  \r\n  \r\n[Chorus]  \r\n  \r\nThere's bones in my closet,  \r\nI've collected quite a few  \r\nGod knows what causes an angel to love a fool  \r\n  \r\nBut in the middle of it all  \r\nYou always break my fall  \r\nIn the middle of it  \r\n  \r\n[Chorus]\r\n\r\n"

In [10]:
df.shape

(5000, 3)

In [11]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [12]:
df.tail(5)

,artist,song,text
4995,Heart,I've Got The Music In Me,ain't got no trouble in my life \r no foolish...
4996,Noa,The Beauty Of That,"when i look into your eyes, i don't know what ..."
4997,Backstreet Boys,There's Us,there's me looking down at my shoes \r the on...
4998,Hillsong,Awesome In This Place,here in this house of the great king \r we co...
4999,John Denver,Higher Ground,there are those who can live \r with the thin...

In [21]:
import nltk
from nltk.stem.porter import PorterStemmer
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [22]:
stemmer = PorterStemmer()

In [23]:
def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [24]:
 df['text'].apply(lambda x: tokenization(x))

0       i do n't mind confid that i make stupid mistak...
1       go now , do n't look back , we 've drawn the l...
2       did you feel the mountain trembl ? did you hea...
3       the movi wa n't realli do so hot said the new ...
4       there 's a neat littl lass and her name is mar...
                              ...
4995    ai n't got no troubl in my life no foolish dre...
4996    when i look into your eye , i do n't know what...
4997    there 's me look down at my shoe the one smile...
4998    here in thi hous of the great king we come tog...
4999    there are those who can live with the thing th...
Name: text, Length: 5000, dtype: object

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [25]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')

In [26]:
matrix = tfidvector.fit_transform(df['text'])

In [27]:
similarity = cosine_similarity(matrix)

In [28]:
similarity[0]

array([1.        , 0.00916556, 0.01741898, ..., 0.02760329, 0.02172336,
       0.04205324])

In [32]:
df[df['song'] == 'Awesome In This Place'].index[0]

4998

In [33]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [34]:
recommendation('Awesome In This Place')

['Awesome',
 'Bless The Lord',
 'Vessel',
 'God Is Good All The Time',
 'Gods Cop',
 'Near To The Heart Of God',
 'Hey God',
 'House',
 'Goodbye',
 'Apistat Commander',
 'Worthy To Be Praised',
 'I Want To Break Free',
 'Oh My God',
 'God Gave You',
 'Leather',
 'Breath On Me',
 'The Glory Of Our King',
 'Mama Why',
 'If You Really Knew',
 'A Place Where We Belong']

In [35]:
import pickle

In [36]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [37]:
pickle.dump(df,open('df.pkl','wb'))